{% extends 'base.html' %} {% block container %}
<h2>Create</h2>
<p>Create a new task</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Your Task: <input type="text" id="ftask" name="ftask" /><br /></p>
  <p>
    Description:
    <textarea type="text" id="fdescription" name="fdescription"></textarea>
  </p>
  <p>
    <label for="priority">Priority:</label>
    <select id="priority" name="fpriority">
      <option value="important">Important</option>
      <option value="basic">Basic</option>
    </select>
  </p>  
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
